.container{
    margin-left: 3%;
    margin-right: 3%;
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    width: 90%;
}

section{
    background-color: rgb(54, 77, 83);
    color: rgb(255, 255, 255);
    width: 100%;
}

h1#nombrecompleto{
    text-align: center;
    color: beige;
}


h2#tituloprimario{
    font-size: 110%;
    text-align: center;
    color: beige;
}

a{
    color: white;
 }

#imagen{
    width: 90%;
    text-align: left;
}

h3#educacion, h3#experienciaprofesional, h3#habilidades{
    margin-top: 5%
}

div#educacion, div#experienciaprofesional, div#habilidades{
    margin-top: 5%
}

aside{
    margin-left: 5%;
}

#divImagen{
    padding-top: 5%;
    text-align: center;
}

#divInfo{
    padding-left: 5%;
    padding-right: 5%;
}

#paragraph-body{
    text-align: justify;
}